@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Noto Sans", sans-serif;
}

/* ShoppingPage */
/* ProductList.css */
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
  
  .card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-4px);
  }

.product-image {
    width: 100%;
    height: auto;
    border-radius: 4px;     
}  

.header-container{
    padding: 1rem;
    background-color: #73a0ce;
}

.card-link{
  text-decoration: none;
  color: black;
}

